<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
</head>
<body>
    <style>
        #map { width: 400px; height: 400px; }
    </style>


    <form action="/perro-encontrado" method="post">
        <input type="text" name="raza" placeholder="raza">
        <input type="text" name="color" placeholder="color">
        
        <div id="map"></div>
        
        <input type="hidden" class="user_coords" name="ubicacion" >
        <input type="submit" value="Enviar">
    </form>

    <script>
        // MAP SETUP
        var map = L.map('map').setView([51.505, -0.09], 13);
        const user_coords = document.querySelector(".user_coords")

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        function onMapClick(e) {
            let marker;

            map.on('click', function(e) {
                if (marker) 
                    map.removeLayer(marker);
                
                
                marker = L.marker(e.latlng).addTo(map);
            
                // put map coordinates from marker inside a hidden input
                user_coords.setAttribute("value", `${e.latlng.lat} ${e.latlng.lng}`)
            });
        }

        map.on('click', onMapClick());

    </script>
</body>
</html>